.header__contents
  %h1 Typing app
  .user
    - if user_signed_in?
      %li.user__right
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn"
        = link_to "マイページ", mypage_index_path(current_user), class: "btn"
    - else
      %li.user__right
        = link_to "ログイン", new_user_session_path, class: "btn"
        = link_to "新規会員登録", new_user_registration_path, class: "btn"

